{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - Symphonia{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ event.name }}</h1>

        {% if event.organizer %}
            <p id="organizer">{{ event.organizer.name }}</p>
        {% else %}
            <p><em>Aucun organisateur spécifié.</em></p>
        {% endif %}

        {% if event.date %}
            <p id="date">{{ event.date|date('d/m/Y') }}</p>
        {% else %}
            <p><em>Aucune date spécifiée.</em></p>
        {% endif %}

        {% if event.description %}
            <p id="description">{{ event.description|raw }}</p>
        {% else %}
            <p><em>Aucune description disponible.</em></p>
        {% endif %}

        {% if event.location %}
            <p id="location">{{ event.location }}</p>
        {% else %}
            <p id="location"><em>Aucun lieu.</em></p>
        {% endif %}

        {% if event.image %}
            <div>
                <img src="{{ asset('uploads/event_pictures/' ~ event.image) }}"
                     alt="{{ event.name }}">
            </div>
        {% else %}
            <p><em>Aucune image disponible.</em></p>
        {% endif %}

        {% if event.artists is not empty %}
            <div id="artist-list">
                <h2>Liste des artistes </h2>
                <ul>
                    {% for artist in event.artists %}
                        <li>
                            <a href="{{ path('app_artist_details', {'id': artist.id}) }}">
                                <p>{{ artist.name }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p><em>Aucun artiste</em></p>
        {% endif %}
        {% if event.organizer == app.user %}
            <a href="{{ path('app_event_edit', {'id': event.id}) }}">
                <p>Edit Event</p>
            </a>
        {% endif %}
        {% if event.participants.contains(app.user) %}
            <form method="post" action="{{ path('app_event_participate', {'id': event.id}) }}">
                <input type="hidden" name="participate" value="0">
                <button type="submit">Se désinscrire de l'événement</button>
            </form>
        {% else %}
            <form method="post" action="{{ path('app_event_participate', {'id': event.id}) }}">
                <input type="hidden" name="participate" value="1">
                <button type="submit">Participer à l'événement</button>
            </form>
        {% endif %}
        {% if event.participants is not empty %}
            <div id="artist-list">
                <h2>Liste des participants </h2>
                <ul>
                    {% for participant in event.participants %}
                        <li>
                            <a href="{{ path('app_users_details', {'id': participant.id}) }}">
                                <p>{{ participant.name }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <p><em>Aucun artiste</em></p>
        {% endif %}
        <a href="{{ path('app_event_index') }}" class="btn btn-secondary mt-3">
            Retour à la liste des événements
        </a>
    </div>
{% endblock %}